= bootstrap_form_for application, url: doorkeeper_submit_path(application), html: {class: 'form-horizontal', role: 'form'} do |f|
  - if application.errors.any?
    .alert.alert-danger{"data-alert" => ""}
      %p= t('doorkeeper.applications.form.error')
  = f.text_field :name

  = f.text_field :description, help: '255 characters max.'

  = f.text_area :redirect_uri
  %span.help-block
    = t('doorkeeper.applications.help.redirect_uri')
  - if Doorkeeper.configuration.native_redirect_uri
    %span.help-block
      = raw t('doorkeeper.applications.help.native_redirect_uri', native_redirect_uri: "<code>#{ Doorkeeper.configuration.native_redirect_uri }</code>")
  = f.primary t('doorkeeper.applications.buttons.submit')
  = link_to t('doorkeeper.applications.buttons.cancel'), oauth_applications_path, class: 'btn btn-default'
