.event
  - case notification.target_type
    - when "Answer"
      .label
        %img{src: gravatar_url(notification.target.user)}
      .content
        .summary
          %a.user{href: show_user_profile_path(notification.target.user)}
            = notification.target.user
          answered 
          %a{href: show_user_answer_path(username: notification.target.user.screen_name, id: notification.target.id)}
            your question
          .date= time_ago_in_words notification.target.created_at
        .extra.text
          - if notification.target.content.length > 255
            = notification.target.content[0..255]
            [...]
          - else
            = notification.target.content
    - when "Relationship"
      .label
        %img{src: gravatar_url(notification.target.source)}
      .content
        .summary
          %a.user{href: show_user_profile_path(notification.target.user)}
            = notification.target.user
          followed you
          .date= time_ago_in_words notification.target.created_at
    - when "Smile"
      .label
        = semantic_icon(:smile)
      .content
        .summary
          %a.user{href: show_user_profile_path(notification.target.user)}
            = notification.target.user
          smiled 
          %a{href: show_user_answer_path(username: notification.target.user.screen_name, id: notification.target.answer.id)}
            your answer
          .date= time_ago_in_words notification.target.created_at
        .extra.text
          - if notification.target.answer.content.length > 255
            = notification.target.answer.content[0..255]
            [...]
          - else
            = notification.target.answer.content
    - when "Comment"
      .label
        = semantic_icon('comments outline')
      .content
        .summary
          %a.user{href: show_user_profile_path(notification.target.user)}
            = notification.target.user
          commented on 
          %a{href: show_user_answer_path(username: notification.target.user.screen_name, id: notification.target.answer.id)}
            your answer
          .date= time_ago_in_words notification.target.created_at
        .extra.text
          - if notification.target.content.length > 255
            = notification.target.content[0..255]
            [...]
          - else
            = notification.target.content