.centre.text-muted
  &copy;
  = Date.today.year
  = APP_CONFIG['site_name']
  ·
  = link_to t('views.application.footer.about'), about_path
  ·
  = link_to t('views.application.footer.bugs'), 'https://github.com/retrospring/bugs/issues'
  ·
  = link_to t('views.application.footer.blog'), 'https://blog.retrospring.net'
  ·
  = link_to t('views.application.footer.tos'), terms_path
  ·
  = link_to t('views.application.footer.pp'), privacy_policy_path