= render 'moderation/moderation_nav'
.jumbotron.j2-jumbo.text-center
  .container
    %h2 Moderation Panel
    .row
      .col-md-4.col-sm-4.col-xs-6.text-center
        %h4= @reports.count
        %p Reports
      .col-md-4.col-sm-4.col-xs-6.text-center
        %h4= Report.where(deleted: true).count
        %p Done
      .col-md-4.col-sm-4.col-xs-6.text-center
        %h4= Report.where(type: "Answer", deleted: false).count
        %p Answers
      .col-md-4.col-sm-4.col-xs-6.text-center
        %h4= Report.where(type: "Users", deleted: false).count
        %p Users
.container.j2-page
  .row
    = render 'moderation/moderation_tabs'
    .col-md-9.col-sm-9.col-xs-12
      - @reports.each do |r|
        = render 'moderation/moderationbox', report: r