- if user_signed_in?
  - type ||= :nil
  - if user == current_user
    %a.ui.labeled.button{href: edit_user_profile_path}
      = semantic_icon(:settings) 
      Edit profile
  - else
    - if current_user.following? user
      %button#editprofile.ui.red.labeled.button{type: :button, name: 'user-action', data: { action: :unfollow, type: type, target: user.screen_name }}
        = semantic_icon('remove user')
        Unfollow
    - else
      %button#editprofile.ui.green.labeled.button{type: :button, name: 'user-action', data: { action: :follow, type: type, target: user.screen_name }}
        = semantic_icon('add user')
        Follow
  - unless user == current_user
    #actions.ui.centered.buttons
      .ui.button
        Actions
      .ui.floating.dropdown.icon.button
        = semantic_icon(:dropdown)
        .menu
          /
            %a.item{href: '#', name: 'user-action', data: { action: :block, type: type, target: user.screen_name }}
              Block
          %a.item{href: '#', data: { target: "#modal-group-memberships", toggle: :modal }}
            = semantic_icon(:users)
            Manage group memberships
          %a.item{href: '#', data: { action: 'report-user', target: user.screen_name }}
            = semantic_icon('warning sign')
            Report
          - if current_user.mod?
            %a.item{href: '#', data: { target: "#modal-privileges", toggle: :modal }}
              = semantic_icon(:heartbeat)
              Check
              = succeed "'s" do
                = user.screen_name
              privileges