- if user_signed_in?
  - type ||= :nil
  - if user == current_user
    %a.fluid.ui.labeled.button{href: edit_user_profile_path}
      = semantic_icon(:settings) 
      Edit profile
  - else
    - if current_user.following? user
      %button#editprofile.fluid.ui.red.labeled.button{type: :button, name: 'user-action', data: { action: :unfollow, type: type, target: user.screen_name }}
        = semantic_icon('remove user')
        Unfollow
    - else
      %button#editprofile.fluid.ui.green.labeled.button{type: :button, name: 'user-action', data: { action: :follow, type: type, target: user.screen_name }}
        = semantic_icon('add user')
        Follow
  - unless user == current_user
    .btn-group.btn-block
      %button.btn.btn-default.btn-block.btn-sm.dropdown-toggle{data: { toggle: :dropdown }, aria: { expanded: :false }}
        Actions
        %span.caret
      %ul.dropdown-menu
        /
          %li
            %a{href: '#', name: 'user-action', data: { action: :block, type: type, target: user.screen_name }}
              %i.fa.fa-minus-circle
              Block
        %li
          %a{href: '#', data: { target: "#modal-group-memberships", toggle: :modal }}
            %i.fa.fa-users
            Manage group memberships
        %li
          %a{href: '#', data: { action: 'report-user', target: user.screen_name }}
            %i.fa.fa-exclamation-triangle
            Report
        - if current_user.mod?
          %li
            %a{href: '#', data: { target: "#modal-privileges", toggle: :modal }}
              %i.fa.fa-wrench
              Check
              = succeed "'s" do
                = user.screen_name
              privileges