.ui.top.visible.sidebar.segment.profile
  .ui.page.grid
    .three.column.stackable.row
      .three.wide.column
        .ui.fluid.rounded.centered.image
          - if @user.following? current_user
            .ui.purple.ribbon.label Follows You
          %img{src: @user.profile_picture.url(:large)}
          - if @user == current_user
            .ui.ribbon.label It's You
      .eight.wide.column
        - if @user.display_name.blank?
          %h2.ui.header
            = @user.screen_name
        - else
          %h2.ui.header
            = @user.display_name
            .sub.header= @user.screen_name
        - unless @user.bio.blank?
          %p= markdown @user.bio  
      .five.wide.column
        .ui.medium.horizontal.statistic
          .value= @user.follower_count
          .label Followers
        .ui.medium.horizontal.statistic
          .value= @user.friend_count
          .label Following
        .ui.medium.horizontal.statistic
          .value= @user.asked_count
          .label Questions asked
        .ui.medium.horizontal.statistic
          .value= @user.answered_count
          .label Answers given
