.ui.top.visible.sidebar.segment
  .ui.page.grid
    .three.column.stackable.row
      .three.wide.column
        %img.ui.medium.rounded.centered.image{src: @user.profile_picture.url(:large)}
      .eight.wide.column
        - if @user.display_name.blank?
          %h2.ui.header
            = @user.screen_name
        - else
          %h2.ui.header
            = @user.display_name
            .sub.header= @user.screen_name
        - unless @user.bio.blank?
          %p= markdown @user.bio  
      .five.wide.column
        .ui.horizontal.statistic
          .statistic
            .value= @user.follower_count
            .label Followers
          .statistic
            .value= @user.friend_count
            .label Following
          .statistic
            .value= @user.asked_count
            .label Questions asked
          .statistic
            .value= @user.answered_count
            .label Answers given
