= render 'user/profile'
.ui.page.grid
  .one.column.row
    = render 'shared/questionbox'
    #answers
      - @answers.each do |a|
        = render 'shared/answerbox', a: a
  - if user_signed_in?
    = render 'user/modal_group_memberships'
    - if current_user.mod? and @user != current_user
      = render 'user/modal_privileges'