#nav.ui.vertical.inverted.left.menu.sidebar.visible
  .item
    .ui.large.inverted.header
      = APP_CONFIG['site_name']
  - if user_signed_in?    
    .item
      %a.ui.logo.icon.image{href: show_user_profile_path(current_user.screen_name)}
        %img{src: current_user.profile_picture.url(:small)}
      %a{href: show_user_profile_path(current_user.screen_name)}
        = current_user.screen_name
    %a.item
      = semantic_icon(:pencil)
      = t 'views.application.ask_a_question'
    %a.item{href: '/inbox'}
      = semantic_icon(:inbox)
      - unless inbox_count.nil?
        .ui.horizontal.purple.label= inbox_count
      = t 'views.inbox.title'
    = render 'layouts/sidebar_timeline'
    = render 'layouts/sidebar_notifications'
    = render 'layouts/sidebar_settings'
    = render 'layouts/sidebar_moderation'
    = render 'layouts/sidebar_administration' 
    %a.item{href: destroy_user_session_path, data: { method: :delete}}
      = semantic_icon('sign out')
      = t 'views.application.logout'
  - else
    %a.item{href: new_user_session_path}
      = t 'views.application.signin'
    %a.item{href: new_user_registration_path}
      = t 'views.application.signup'

  - if user_signed_in?
    = render 'shared/modal_ask_followers'
    %button.btn.btn-primary.btn-fab.visible-xs{"data-target" => "#modal-ask-followers", "data-toggle" => "modal", :type => "button"}
      %i.fa.fa-pencil-square-o
