.item
  .ui.small.inverted.header
    = t 'views.moderation.title'
  .menu
    %a.item{href: moderation_path}
      = t 'views.general.all'
      - if Report.where(deleted: false).count >= 1
        .ui.horizontal.red.label= Report.where(deleted: false).count
    %a.item{href: moderation_path('answer')}
      = t 'views.moderation.answers.title'
      - if Report.where(type: "Reports::Answer", deleted: false).count >= 1
        .ui.horizontal.label= Report.where(type: "Reports::Answer", deleted: false).count
    %a.item{href: moderation_path('comment')}
      = t 'views.moderation.comments.title'
      - if Report.where(type: "Reports::Comment", deleted: false).count >= 1
        .ui.horizontal.label= Report.where(type: "Reports::Comment", deleted: false).count
    %a.item{href: moderation_path('user')}
      = t 'views.moderation.users.title'
      - if Report.where(type: "Reports::User", deleted: false).count >= 1
        .ui.horizontal.label= Report.where(type: "Reports::User", deleted: false).count
    %a.item{href: moderation_path('question')}
      = t 'views.moderation.questions.title'
      - if Report.where(type: "Reports::Question", deleted: false).count >= 1
        .ui.horizontal.label= Report.where(type: "Reports::Question", deleted: false).count   
