.item
  .ui.small.inverted.header
    = t 'views.notifications.title'
  .menu
    %a.item{href: notifications_path}
      = t 'views.general.all'
      - unless notification_count.nil?
        .ui.horizontal.purple.label= notification_count
    %a.item{href: notifications_path('answer')}
      = t 'views.notifications.answers.title'
      - if Notification.where(target_type: "Answer", new: true).count >= 1
        .ui.horizontal.label
          = Notification.where(target_type: "Answer", new: true).count
    %a.item{href: notifications_path('smile')}
      = t 'views.notifications.smiles.title'
      - if Notification.where(target_type: "Smile", new: true).count >= 1
        .ui.horizontal.label
          = Notification.where(target_type: "Smile", new: true).count
    %a.item{href: notifications_path('comment')}
      = t 'views.notifications.comments.title'
      - if Notification.where(target_type: "Comment", new: true).count >= 1
        .ui.horizontal.label
          = Notification.where(target_type: "Comment", new: true).count
    %a.item{href: notifications_path('relationship')}
      = t 'views.notifications.relationship.title'
      - if Notification.where(target_type: "Relationship", new: true).count >= 1
        .ui.horizontal.label
          = Notification.where(target_type: "Relationship", new: true).count 
