.item
  .ui.small.inverted.header
    = t 'views.settings.title'
  .menu
    %a.item{href: edit_user_registration_path}
      = t 'views.settings.account.title'
    %a.item{href: edit_user_profile_path}
      = t 'views.settings.profile.title'
    %a.item{href: edit_user_privacy_path}
      = t 'views.settings.privacy.title'
    %a.item{href: services_path}
      = t 'views.settings.sharing.title' 
